{{- if .Values.akash_node.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: akash-node-scripts
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "akash-node.labels" . | nindent 4 }}
data:
  init.sh: |
{{ tpl (.Files.Get "scripts/init.sh") . | indent 4 }}
{{- end }}
