{{- if .Values.akash_node.enabled -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: akash-node-1
  namespace: {{ .Release.Namespace }}
  labels:
    app: akash-node
    akash.network/node: "1"
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      app: akash-node
      akash.network/node: "1"
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        app: akash-node
        akash.network/node: "1"
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: akash-node
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.persistent_storage.enabled }}
      nodeSelector:
        kubernetes.io/hostname: {{ $.Values.persistent_storage.host }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: [ "/bin/bash" , "/config/node.sh" ]
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:   
            - name: AKASH_MONIKER
              value: {{ .Values.akash_node.moniker }}-1
            - name: AKASH_NET
              value: {{ .Values.akash_node.net }}
            - name: AKASH_HOME
              value: {{ .Values.home }}
            - name: AKASH_CHAIN_ID
              value: {{ .Values.akash_node.chainid }}
            - name: AKASH_KEYRING_BACKEND
              value: {{ .Values.keyring_backend }}
            - name: AKASH_P2P_PERSISTENT_PEERS
              value: {{ .Values.akash_node.peers }}
            - name: AKASH_P2P_LADDR
              value: tcp://0.0.0.0:26656
            - name: AKASH_RPC_LADDR
              value: tcp://0.0.0.0:26657
            - name: AKASH_RPC_PPROF_LADDR
              value: 0.0.0.0:6060
            - name: AKASH_GRPC_ADDRESS
              value: 0.0.0.0:9090
            - name: AKASH_P2P_ADDR_BOOK_STRICT
              value: "false"
            - name: AKASH_ROSETTA_ENABLE
              value: "false"
            - name: AKASH_P2P_SEED_MODE
              value: "true"
            - name: AKASH_DEBUG
              value: "{{ $.Values.debug }}"
          ports:
            - containerPort: 1317
              name: akashd-api
            - containerPort: 9090
              name: akashd-grpc
            - containerPort: 26656
              name: akashd-p2p
            - containerPort: 26657
              name: akashd-rpc
          volumeMounts:
            - name: config
              mountPath: /config
              readOnly: true
          {{- if .Values.persistent_storage.enabled }}
            - name: local-persistent-storage
              mountPath: {{ .Values.home }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: akash-node-config
      {{- if .Values.persistent_storage.enabled }}
        - name: local-persistent-storage
          persistentVolumeClaim:
            claimName: akash-node-pvc
      {{- end }}
{{- end }}
