apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-service
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
    - protocol: TCP
      port: 3000
      targetPort: api-port
      nodePort: {{ .Values.service.nodePort }}
      name: api-port
  type: NodePort
