{{- if eq .Values.beta "false" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "provider.fullname" . }}-boot
  namespace: {{ .Release.Namespace }}
data:
  run.sh: |
{{ tpl (.Files.Get "scripts/run.sh") . | indent 4 }}
{{- end }}
