{{- if eq .Values.beta "true" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "provider.fullname" . }}-init
  namespace: {{ .Release.Namespace }}
data:
  init.sh: |
{{ tpl (.Files.Get "scripts/init.sh") . | indent 4 }}
{{- end }}
