apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
  annotations:
    secrets.doppler.com/reload: 'true'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: ghcr.io/akash-network/stats-web:{{ .Values.appVersion }}
          imagePullPolicy: "Always"
          ports:
            - containerPort: 3000
              name: api-port
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ .Chart.Name }}-secret
            - configMapRef:
                name: {{ .Chart.Name }}-config
          env:
            - name: PORT
              value: "3000"
            - name: OTEL_SERVICE_NAME
              value: {{ .Chart.Name }}
          resources:
            limits:
              cpu: "1"
              ephemeral-storage: "2Gi"
              memory: "1Gi"
            requests:
              cpu: "0.5"
              ephemeral-storage: "1Gi"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /api/healthz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
