apiVersion: v1
kind: ConfigMap
metadata:
  name: akash-{{ include "akash-hostname-operator.fullname" . }}-boot
  namespace: {{ .Release.Namespace }}
data:
  run.sh: |
    #!/bin/sh
{{- if eq .Values.beta "false" }}
    exec /bin/akash provider hostname-operator
{{- end }}
{{- if eq .Values.beta "true" }}
    exec /bin/provider-services hostname-operator --listen 0.0.0.0:8188
{{- end }}
