# Default values for akash-node.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: ghcr.io/akash-network/node
  pullPolicy: IfNotPresent

# Common Values

keyring_backend: "test"
home: "/root/.akash"
debug: "false"

# Set Values to run a single Akash node connected to an existing network
# Defaults to mainnet
akash_node:
  enabled: true
  # snapshot_provider can be : "akash" (3Gi), "polkachu" (1Gi), "c29r3" (2Gi), or "autostake" (3Gi)
  # Nov/02 2023: disabled polkachu since it is now behind Cloudflare's "Verify you are human" CAPTCHA
  # Nov/14 2023: autostake snapshot is unavailable, fixed polkachu and set as default, fix "c29r3" snapshot provider
  # Aprl/14 2024: peers updated and autostake working again

  snapshot_provider: "akash"
  api_enable: false
  moniker: mynode
  chainid: akashnet-2
  indexer: null
  # disable PEX when nodes have issues with syncing / catching up / peer dial errors/flood
  pex: true
  minimum_gas_prices: 0.0025uakt
  net: https://raw.githubusercontent.com/akash-network/net/main/mainnet
  # Get the peers from https://polkachu.com/live_peers/akash, https://github.com/akash-network/net/blob/main/mainnet/peer-nodes.txt
  peers: 50a8d17be87e9d6eba882f570a08511771964450@45.77.101.198:26656,98af5fbf7c7af795f2a4dc1a7eeda9f321f894d6@135.125.188.63:26656,b0e948b8b27fae66e85ae10618ba4604e9659fea@135.181.210.168:26656,0856184236314db3504238fe358d168e8b61d5d7@31.149.41.153:26656,5a7599058e1bb208c6d8fe1e8e514d7bd6559980@146.59.81.92:29656,835c8aab295400dcf52e318f64894f60d84f83b2@185.233.106.174:26656,dda1f59957f767e20b0fc64b1c915b4799fc0cc5@159.223.201.93:26656,bd2525f1a86af8b1a3798c04387f47f0c0627d24@159.223.201.38:26656,c8950aa4b6b494f89c29a68a304567042e433563@167.235.179.241:12856,031ba3fcfc8d6d1fdbbf3a6dd17262d16a673e92@54.245.187.253:26656,1e8aaf3654887a05caeb0c1f73ce39e859e2f0c9@159.223.201.86:26656,7f71e85a843516945206db6274c3a37790f79266@37.252.186.202:26656,03493c979e821f9d047715b1aaec0ee969392c76@95.214.53.119:26656,506002b391be8d653b14f0162325b14929cac72e@51.81.49.176:12856,3f07dfcc2e539ac4c5d704fc00f5da5a9dedf01f@96.32.13.232:26656,429bc3976948bdf2b608c8a1cccc820b5399c751@43.201.193.50:26656,d834451f97cb050074b4db48735fb1d90a48bd32@65.108.42.198:36656,91ce6177c3a64052198792aca03d30672500998d@98.42.74.28:26656,5b96fcac981e7645b24902ae10be8e8e250144fb@174.142.205.1:6180,731394cfc97fca39d52334eb703413ada5273098@51.81.107.4:26656,6008975fd4d8a10499c67dff2eb9171e3e0e1b6a@65.109.115.223:12856,fcc2a26b28a92845d40d627268dc98a8311ddbf2@142.132.140.147:35656,aff5e4ac6c17965ea798b6d303b06ff19196835a@83.136.255.212:26656,7a6181cb53a90d6b620e917624ca5531960dc20d@37.27.50.60:26656,c124ce0b508e8b9ed1c5b6957f362225659b5343@134.65.192.97:26656,61686e588f0af938484579adbc2093adff06c7aa@86.32.118.151:26656,f9215993d48d8e0abc31cea931d573a45d201ac8@65.108.232.104:12856,34aa700c44f35abe8319428f173503ea7faee3b7@37.27.60.45:28656,fb2d2a8760ecc6d53a9ed371168899d26b181b04@195.201.247.42:26656,dd3ed7981c9b64294aacff0409a4dc1b5d736d6b@23.134.94.76:26656,37201c92625df2814a55129f73f10ab6aa2edc35@95.214.53.215:26696,fa7883cbb8236a50d395d7c38fa4c15d415fb17b@194.163.154.92:26656,58fe289b8c7ce4c8b4f626786efe44aefcbd1bb0@45.153.35.150:26656,d444cd6b2f45796ad21d69a00c7725bffb9191b8@84.252.129.17:26656,0d0161d3d43578cdd1aa764921bdb3d444d9a13d@108.160.204.254:26656,2f6331de7ffb5b4cc315c1eaf03040753b5a5c28@65.109.111.218:30856,66b74927d51888a25fe94bff2dfeaae125739f26@79.127.196.36:29656,c58852a0c6ee1d1a68b76e5a54a9dbce895065d9@162.55.245.149:2140,d0fc4c50a248e1eb2fd3ff2497ae52200db0104d@23.88.69.22:27566,43544bc781b88d6785420427926d86a5332940b3@142.132.131.184:26676,6adc00bef235246c90757547d5f0703d6a548460@178.128.82.28:26656,efb5ed102cfbcbd932e3256fef745e1016792cfe@38.68.134.103:26656,8f0ee28c95d091ea40667d1fcf616d7344500b17@208.97.227.20:26656,a7ae9fe76ed0ed6bbd35dc4c0f7dc7a9239f02c3@72.48.166.182:26656,f4235ffc06a57a2e3b0cbe91433ada73020ebb64@38.80.81.2:26656,7d290b7ad464423b908ef040d5214e54707fd607@54.38.92.122:26656,ebc272824924ea1a27ea3183dd0b9ba713494f83@195.3.223.168:26696,03e379863946297ac85c0856c2ad29052d91e5d7@79.116.44.13:26656,e36cc4f64feb2211a992a45b95236b3566c02f9b@172.110.97.188:26656,ecfa723fb13c59c1a9bb4d6f30b828831f49cc03@99.99.163.16:26656
  pruning: "default"
  iavl_disable_fastnode: "true"

# If your node gets connection troubles to Polkachu,
# make sure to get through the trouble-shooting section at
# https://www.polkachu.com/state_sync/akash
state_sync:
  enabled: false
  rpc1: "https://akash-rpc.polkachu.com:443"
  rpc2: "https://akash-rpc.polkachu.com:443"
  # Get Polkachu State-Sync Peer for Akash from https://polkachu.com/live_peers/akash
  node_id: "d1e47b071859497089c944dc082e920403484c1a@65.108.128.201:12856"
  # height_offset should equal the AKASH_STATE_SYNC_SNAPSHOT_INTERVAL on the node which makes the state-sync snapshots
  height_offset: 2000

snapshots:
  enabled: false

# Used for mounting AKASH_HOME on a specific node
local_storage:
  enabled: false
  capacity: 100Gi
  path: /mnt/local-storage
  host: k8s-node-0

# Same as local_storage except that it uses block storage pool
# NOTE: you cannot enable both local_storage and ceph_storage at the same time!
ceph_storage:
  enabled: false
  capacity: 100Gi
  storageclass: akash-nodes

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
