apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "akash-faucet.fullname" . }}
  labels:
    {{- include "akash-faucet.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "akash-faucet.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "akash-faucet.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "akash-faucet.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:   
            - name: NETWORK_RPC_NODE
              value: "{{ .Values.rpcnode }}"
            - name: INLINE_UI
              value: "true"
            - name: FAUCET_WAIT_PERIOD
              value: "{{ .Values.waitperiod }}"
            - name: FAUCET_DISTRIBUTION_AMOUNT
              value: "{{ .Values.distributionamount }}"
            - name: FAUCET_DENOM
              value: "{{ .Values.denom }}"
            - name: FAUCET_FEES
              value: "{{ .Values.fees }}"
            - name: FAUCET_GAS
              value: "{{ .Values.gas }}"
            - name: FAUCET_MEMO
              value: "{{ .Values.memo }}"
            - name: FAUCET_MNEMONIC
              value: "{{ .Values.mnemonic }}"
            - name: PROM_USER
              value: "{{ .Values.promuser }}"
            - name: PROM_PASSWORD
              value: "{{ .Values.prompassword }}"
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 3000
          readinessProbe:
            tcpSocket:
              port: 3000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
