apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-{{ .Values.chain }}-config
data:
{{ include "app.env" . | indent 2 }}
  - name: PORT
    value: "3000"
  - name: NETWORK
    value: {{ .Values.chain }}
  - name: DEPLOYMENT_ENV
    value: {{ .Values.deploymentEnv }}
