apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}-{{ .Values.chain }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}-{{ .Values.chain }}
  annotations:
    secrets.doppler.com/reload: 'true'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}-{{ .Values.chain }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}-{{ .Values.chain }}
    spec:
      containers:
        - name: {{ .Chart.Name }}-{{ .Values.chain }}
          image: ghcr.io/akash-network/provider-proxy:{{ .Values.appVersion }}
          imagePullPolicy: "Always"
          ports:
            - containerPort: 3000
              name: api-port
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ .Chart.Name }}-{{ .Values.chain }}-secret
            - configMapRef:
                name: {{ .Chart.Name }}-{{ .Values.chain }}-config
          resources:
            limits:
              cpu: "4"
              ephemeral-storage: "2Gi"
              memory: "8Gi"
            requests:
              cpu: "2"
              ephemeral-storage: "1Gi"
              memory: "8Gi"
          readinessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 1
          livenessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 1
